body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(226, 226, 226);    
}

/*HEADER*/
#header{
    height: 180px;
    background: url(./Assets/frontend_webdeveloper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
}

.page_title{
    text-shadow: 2px 2px 3px rgb(78, 78, 78);
    }

/*BODY*/
#section01{
    height: 350px;
    background-image: url(./Assets/pc_screen_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
}

.container01{
    background-color: rgb(52, 130, 182);
    margin: 20px;
    padding: 35px;
    
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(233, 68, 248);
}

#section02{
    height: fit-content;
    background-color: rgb(231, 231, 231);
    color: rgb(43, 43, 43);
    padding: 25px;
}

.row01{
    display: flex;
}

.column01:hover{
    border-color: blueviolet;
}

.column01{
    flex: 50%;
    margin: 20px;
    background-image: url(./Assets/Logos/wp_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
        
    border-width: 2px;
    border-style: solid;
    border-color: rgb(52, 130, 182);
}

.column02:hover{
    border-color: blueviolet;
}

.column02{
    flex: 50%;
    margin: 20px;
    background-image: url(./Assets/Logos/elementorPRO_logo.png);
    background-size: cover;
        
    border-width: 2px;
    border-style: solid;
    border-color: rgb(52, 130, 182);
    background-repeat: no-repeat;
}

#section03{
    text-align: center;
    color: rgb(43, 43, 43);
    height: fit-content;
    padding: 25px;
    }

/* .buttonalign{
    text-align: center;
} */

.button01{
    text-decoration: none;
    background-color: rgb(52, 130, 182);
    box-shadow: 3px 3px 4px rgb(78, 78, 78);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(233, 68, 248);
    border-radius: 5px;
    
    margin: 20px;
    padding: 10px;    
    padding-left: 45px;
    padding-right: 45px;
}
.button01:hover{
    background-color: rgb(29, 77, 109);
}

.button01:visited{
    color: rgb(226, 226, 226);
    /* background-color: rgb(29, 77, 109); */
}

#section04{
    text-align: left;
    background-color: rgb(231, 231, 231);
    color: rgb(43, 43, 43);
    height: fit-content;
    padding: 25px;
}

.row02{
    display: flex;
}

ul{
    list-style: none;
}

.columnlinks{
    text-decoration: none;
}

.columnlinks:visited{
    color: inherit;
}

.columnlinks:hover{
    color: rgb(29, 77, 109);
}

.column03{
    flex: 33%;
    margin: 20px;
    background-color: white;
    box-shadow: 3px 3px 4px rgb(78, 78, 78);
    padding-top: 20px;
        
    border-width: 2px;
    border-style: solid;
    border-color: rgb(52, 130, 182);
}

.column04{
    flex: 33%;
    margin: 20px;
    background-color: white;
    box-shadow: 3px 3px 4px rgb(78, 78, 78);
    padding-top: 20px;
        
    border-width: 2px;
    border-style: solid;
    border-color: rgb(52, 130, 182);
    }

.column05{
    flex: 33%;
    margin: 20px;
    background-color: white;
    box-shadow: 3px 3px 4px rgb(78, 78, 78);
    padding-top: 20px;
        
    border-width: 2px;
    border-style: solid;
    border-color: rgb(52, 130, 182);
}

.change01{
    color: rgb(43, 43, 43);
    text-align: center;
}